[Desktop Entry]
Name=Music Shape
Name[cs]=Music Shape
Name[de]=Musik-Objekt
Name[es]=Forma música
Name[et]=Muusikakujund
Name[fi]=Musiikkimuoto
Name[fr]=Forme de musique
Name[ga]=Giuirléid Cheoil
Name[gl]=Obxecto musical
Name[hu]=Zene alakzat
Name[it]=Forma di musica
Name[km]= 
Name[nds]=Form "Musik"
Name[nl]=Muziekvorm
Name[pl]=Kształt muzyki
Name[pt]=Forma Musical
Name[pt_BR]=Forma musical
Name[sk]=Tvar hudba
Name[sv]=Musikform
Name[ug]=مۇزىكا شەكلى
Name[uk]=Музична форма
Name[x-test]=xxMusic Shapexx
X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=musicshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
