[Desktop Entry]
Name=Music Shape
Name[cs]=Music Shape
Name[de]=Musik-Objekt
Name[es]=Forma música
Name[et]=Muusikakujund
Name[fr]=Forme de musique
Name[it]=Forma di musica
Name[km]= 
Name[nds]=Form "Musik"
Name[nl]=Muziekvorm
Name[pt]=Forma Musical
Name[pt_BR]=Forma musical
Name[sv]=Musikform
Name[uk]=Музична форма
Name[x-test]=xxMusic Shapexx
X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=musicshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
